 
<%= simple_form_for @wish, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">    
    <%= f.input :text, label: "Text", input_html: {:class =>  "form-control" }, label_html: { class:  "center-block"} %>
  </div>
  <div class="center-block form-group">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <%= link_to "Cancel", root_path, :class => 'btn btn-default' %>
  </div>
<% end %>
