<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center">My wishes</h2>
        </div>
        <div class="panel-body">
          <%= render @wishes %>
        </div>
      </div>
      <%= link_to "Back", root_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>