<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <h2 class="text-center">Add a new wish</h2>
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
