<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), data:{disable_with: 'Signing in ...' }, class: "btn btn-primary btn-lg btn-block"  %><br />
  <% end -%>
<% end -%>
