<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <h2 class="text-center">Welcome!</h2>
      <br>
      <% if current_user.sign_in_count == 1 %>
       <h3> Thank you, <%= current_user.name %>!</h3>
      <% end %>

      <% if Time.now < "2014-12-02" %>
        <h4>On the 5th of December, log in again to find out who is your Secret Santa.</h4>
        <h4>We will soon announce the date of gift-exchanging.</h4>
        <h4>Gifts should not be more expensive than 25 lei.</h4>
      <% end %>
        <h4><%= button_to "Dear Santa ...", new_wish_path, class: "btn btn-default btn-lg btn-block", method: :get %></h4>
        <h4><%= link_to "My wishlist", wishes_path, class: "btn btn-default btn-lg btn-block"  if current_user.wishes.any? %></h4>

      <% if @santa == nil and Time.now > "2014-12-02" %>
        <%= button_to "Apasăăă-l", set_santa_path, method: :post, data:{disable_with: 'Searching for your special person...' }, class: "btn btn-primary btn-lg btn-block" %>
      <% end %>

      <% if @santa %>
        <div class="well">
          <div class="text-center" style="padding: 25px;">
            <h4> Your special person is: </h4>
            <h3>
              <%= image_tag @santa.remote_avatar_url %>
              <%= link_to @santa.name, "https://facebook.com/#{current_user.uid}" %>
            </h3>
          </div>
          <%  if @santa.wishes.any? %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Dear Santa, </h4>
              </div>
              <div class="panel-body">
                <%= render @santa.wishes %>
              </div>
            </div>
          <% end %>
          </div>
          <% end %>

      <% if user_signed_in? %>
        <br><br><br>
        <p>
          Signed in as <%= current_user.name %>.
          <br>
           Not you? <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
           <br>
            <b>Disclamer: Once you've registered to Secret Santa, you may not unregister.
           <br>Your name will be added to the list and you will be remembered.
           <br>Please note that this is a serious thing and no kidding around is allowed. 
          </b>
        </p>
      <% end %>

    </div>
  </div>
</div>
