
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <h1 class="text-center">ASMI Secret Santa</h1>
      <h2 class="text-center">Please sign in to participate</h2>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
    <div class="center-block">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="">

</div>
</div>
