<!DOCTYPE html>
<html>
<head>
  <title>Santa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <span class="text-center"><%= bootstrap_flash %></span>
    <%= yield %>
  </div>

</body>
</html>
